// CSS cho nội dung trong mục Term
.admin-content-col {
    @include fixed-padding-h(0px);
    flex: 1;
}

.add-term-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    p {
        font-size: $text-size-big;
        text-align: center;
        font-weight: 500;
    }
    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        textarea,
        select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            outline: none;
        }

        textarea {
            resize: vertical;
        }
    }

    .submit-button {
        display: inline-block;
        width: 100%;
        padding: 10px;
        background-color: #28a745;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #218838;
        }
    }
}

.list-menu-container {
    display: flex;
    justify-content: space-between;
    background-color: $main-backgroud-light;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
    
        &:not(:last-child) {
            margin-right: 20px; // Khoảng cách giữa các ô, trừ ô cuối cùng
        }
    
        label {
            margin-bottom: 5px;
            font-weight: bold;
        }
    
        input[type="text"],
        select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: $main-backgroud-light;
            outline: none;
        }

        select {
            cursor: pointer;
        }
    }
}

.table-list-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    overflow-x: auto;

    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            background-color: $color-table-head !important;
            color: $color-white;

            th {
                padding: 10px;
                text-align: left;
                font-weight: bold;
                border-right: 1px solid $color-white; // Đường kẻ giữa các cột
                &:last-child {
                    border-right: none; // Bỏ đường kẻ cho cột cuối cùng
                }
            }
        }

        tbody {
            tr {
                .item-term-description {
                    max-width: 250px; /* Đặt độ rộng tối đa */
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                td {
                    padding: 10px;
                    border-bottom: 1px solid #ddd;
                    border-right: 1px solid #ddd; // Đường kẻ giữa các cột
                    vertical-align: middle;

                    &:last-child {
                        border-right: none; // Bỏ đường kẻ cho cột cuối cùng
                    }
                }
                &:hover {
                    background-color: $line-color-light;
                }
            }
        }
    }
    
}

#input-term-parent {
    position: relative;
}
#parent-type-dropdown {
    margin-top: 10px;
}
#edit-parent-type-dropdown {
    margin-top: 10px;
}
// SCSS for Suggestion Menu
.suggestions-list {
    position: absolute;
    top: 80px;
    z-index: 1000; 
    background-color: white; 
    border: 1px solid #ccc;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0; /* Đổi màu nền khi hover để gợi ý rõ ràng hơn */
}

// SCSS for Notification
.notification-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; 
    width: 100%;
    max-width: 400px;
    text-align: center;
    pointer-events: none;
}

.notification {
    padding: 15px 20px;
    border-radius: 8px;
    color: $primary-color-light-dark;
    font-size: 16px;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    &.success {
        background-color: $success-background;
        border: .5px solid $success-border;
        &>div {
            flex-flow: row;
            align-items: center;
            gap: 50px;
            i {
                color: $success-color;
                font-size: $text-banner-title;
            }
            &>div {
                flex-flow: column;
                justify-content: space-between;
                p#notification-title {
                    color: $success-color;
                    font-size: $text-size-medium;
                    margin-bottom: 0 !important;
                    font-weight: 600;
                }
                p#notification-detail {
                    color: $success-detail;
                    font-size: $text-size-small;
                    margin-bottom: 0 !important;
                }
            }
        }
    }

    &.error {
        background-color: $error-background;
        border: .5px solid $error-border;
        &>div {
            flex-flow: row;
            align-items: center;
            gap: 50px;
            i {
                color: $error-color;
                font-size: $text-banner-title;
            }
            &>div {
                flex-flow: column;
                justify-content: space-between;
                p#notification-title {
                    color: $error-color;
                    font-size: $text-size-medium;
                    margin-bottom: 0 !important;
                    font-weight: 600;
                }
                p#notification-detail {
                    color: $error-detail;
                    font-size: $text-size-small;
                    margin-bottom: 0 !important;
                }
            }
        }
    }
}

// SCSS for edit term modal
// Modal container
.edit-term-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;

    .modal-content {
        background-color: #fff;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
        max-width: 500px;
        width: 100%;
        position: relative;
        animation: modalFadeIn 0.4s ease-out;

        .edit-term-title {
            font-size: $text-banner-title;
            color: $color-text-menu-hover;
            font-weight: 600;
            text-align: center;
        }

        .form-group {
            margin-bottom: 15px;

            label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
            }

            input, textarea, select {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-sizing: border-box;
                font-size: 16px;

                &:focus {
                    border-color: #007bff;
                    outline: none;
                }
            }

            textarea {
                resize: vertical;
            }

            input[readonly] {
                background-color: #f8f8f8;
                border: 1px solid #ccc;
                cursor: not-allowed;
                user-select: none;
                pointer-events: none;
                color: $color-text-menu;
            }
        }

        .btn-save-term {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            .btn-close-modal {
                background-color: $primary-hover-color-light;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                &:hover {
                    background-color: $color-text-menu-hover;
                }
            }
            .submit-button {
                background-color: #007bff;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    }
}
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// SCSS for delete term
.delete-modal {
    display: none; /* Hidden by default */
    align-items: center;
    position: fixed;
    z-index: 1000; /* Ensures modal is on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.4s forwards;

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 300px;
        border-radius: 10px;
        text-align: center;
        transform: translateY(-20px);
        animation: slideIn 0.4s forwards;

        i {
            color: $delete-color-hover;
            font-size: $text-banner-title + 10px;
            margin-bottom: 20px;
        }

        .delete-term-title {
            font-size: $text-size-small;
            font-weight: 600;
        }

        .delete-term-detail {
            font-size: $text-size-small;
            color: $delete-color-hover;
        }

        .modal-actions {
            margin-top: 20px;
            display: flex;
            justify-content: space-around;

            .confirm-delete-btn,
            .cancel-delete-btn {
                padding: 10px 20px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                font-size: 16px;
                transition: background-color 0.2s ease;
            }

            .confirm-delete-btn {
                background-color: #e0857b;
                color: white;
                &:hover {
                    background-color: #e74c3c;
                }
            }

            .cancel-delete-btn {
                background-color: #9eadaf;
                color: white;
                &:hover {
                    background-color: #6a8a8d;
                }
            }
        }
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideIn {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}

// SCSS for view detail
.view-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Ensures modal is on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */

    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    animation: modalFadeIn 0.4s ease;

    .modal-content {
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 10px;
        text-align: left;
        width: 500px;
        transform: translateY(-20px);
        transition: transform 0.3s ease;

        &.show {
            transform: translateY(0);
        }

        .view-term-title {
            text-align: center;
            font-size: $text-banner-title;
            font-weight: 600;
        }

        .modal-body {
            margin-bottom: 20px;

            p {
                margin: 10px 0;
                .view-term-lable {
                    font-weight: 600;
                    width: 80px;
                };
                span {

                }
            }
        }

        .modal-actions {
            display: flex;
            justify-content: center;

            #close-view-btn {
                padding: 10px 20px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                font-size: 14px;
                background-color: #95a5a6;
                color: white;
                transition: background-color 0.3s ease;
                &:hover {
                    background-color: #5e6768;
                }
            }
        }
    }
}
@keyframes backgroundFadeIn {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.5);
    }
}




// SCSS for Pagination
.web-pagination {
    .text-right {
        input {
            width: 80px;
            outline: none;
            border-radius: 8px;
            border: .5px solid $line-color-light;
            padding: 5px 10px;
        };
        div {
            margin-bottom: 0;
            margin-left: 10px;
        };
        button {
            margin-left: 20px;
            border-radius: 8px;
        }
    }
}
.current-page {
    color: $color-text-menu;
    margin-left: 10px;
    margin-right: 10px;
}
.page-link {
    cursor: pointer;
}
.disabled-link {
    color: $line-color-light;
    pointer-events: none !important;
    background-color: $line-color-light;
    i {
        color: $line-color-light;
    }
    &:hover {
        color: $line-color-light;
        background-color: $line-color-light;
    }
}
.fade-in {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.fade-in.show {
    opacity: 1;
}

.edit-btn {
    color: $edit-color;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.2s ease;
    font-size: $text-size-small;
    &:hover {
        color: $edit-color-hover;
    }
}
.refresh-btn {
    color: $refresh-color;
    transition: color 0.2s ease;
    cursor: pointer;
    font-size: $text-size-small;
    padding: 5px 10px;
    &:hover {
        color: $refresh-color-hover;
    }
}
.delete-btn {
    color: $delete-color;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.2s ease;
    font-size: $text-size-small;
    &:hover {
        color: $delete-color-hover;
    }
}
.view-btn {
    color: $primary-color-light;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: $text-size-small;
    transition: color 0.2s ease;
    &:hover {
        color: $primary-hover-color-light;
    }
}
.add-btn {
    color: $button-add;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: $text-size-small;
    transition: color 0.2s ease;
    &:hover {
        color: $button-add-hover;
    }
}

.invalid {
    border: 1px solid $delete-color !important;
}
