.width-0 {
    width: 0 !important;
    overflow: hidden;
}
// Menu collapse
.width-expand {
    width: 260px !important;
}
.width-collapse {
    width: 120px !important;
}
.left-expand {
    left: 260px !important;
}
.left-collapse {
    left: 120px !important;
}

.width-auto {
    width: auto !important;
}
.center-content-by-flex {
    display: flex;
    justify-content: center;
}
.position-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.position-relative {
    position: relative;
}
