//Dimension
$header-admin-height: 60px;

//Icon
$edit-color:  #f1c40f;
$delete-color:  #e74c3c;
$delete-color-hover:  #922b21;
$edit-color-hover:  #b9770e;
$refresh-color:  #3498db;
$refresh-color-hover:  #1f618d;
$error-background: #EEC8C5;
$error-color: #BA3C3C;
$error-border: #C18489;
$error-detail: #BC4C45;
$success-message:  #27ae60;
$success-background: #DCF3D6;
$success-border: #ABC89D;
$success-color: #36831e;
$success-detail: #BDD6B6; 
// Backgroud Color
$main-backgroud-light: #FFFFFF;
$content-backgroud-light: #F5F5F5;

// Text Color
$primary-color-light: #3f3a64;
$primary-hover-color-light: #3f3a646a;
$primary-color-dark:#ecf0f1;
$primary-color-success:  #2ecc71;
$primary-color-light-dark: #464646;

// Button Color
$button-color-func:  #3498db;
$button-add: #27ae60;
$button-add-hover: #176839;

//Nav Main
$nav-main-content: 18px;

//Icon
$nav-icon: 25px;

//Line
$line-color-light:#3f3a641b;
$line-color-highlight: #4d524f;
$line-color-blue:#3498db;
$line-color-darkblue: #027ac5;

// Text Size
$text-banner-title: 28px;
$text-banner-content: 22px;
$text-size-big: 22px;
$text-size-medium: 20px;
$text-size-small: 18px;
$text-size-detail: 16px;

// Admin menu
$color-text-menu: #A0A0A0;
$color-text-menu-hover: #0C0C0E;
$background-menu-hover: #EFEFEF;

// Table Color
$color-table-head: #007bff;
$color-white: #fff;
$color-disabled: #8F8F8F;